.latest{
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    margin-bottom: 50px;
}
.latest-left{
    width: 65%;
    min-width: 300px;
    position: relative;
    padding-top: 20px;
    flex: 7;
}
.latest-left-all{
    position: absolute;
    top: 20px;
    right: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
.latest-left-all span{
    margin-left: 5px;
    display: inline-flex;
    top: 3px;
}
.latest-left-all:hover{
    color: var(--red);
}
.latest-left-main{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
}
.latest-item{
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 25px;
}
.latest-item-left{
    width: 60%;
}
.latest-item-left > a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    font-size: 24px;
    font-weight: 600;
    transition: .3s;
}
.latest-item-left > a:hover{
    color: var(--red);
    text-decoration: underline;
}
.latest-item-left > p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-family: 'Oxygen', sans-serif;
    margin-top: 20px;
}
.latest-item-bottom{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
}
.latest-item-bottom span{
    font-size: 12px;
    margin-left: 30px;
}
.latest-item-user-img{
    width: 23px;
    height: 23px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
}
.latest-item-user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latest-item-author{
    transition: .3s;
}
.latest-item-author:hover{
    text-decoration: underline;
    text-decoration-color: var(--red) !important;
}
.latest-item-right{
    width: 40%;
}
.latest-item-mark{
    transition: .3s;
    font-size: 18px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.latest-item-mark:hover{
    color: var(--red);
}
.latest-right{
    width: 35%;
    height: 860px;
    min-width: 200px;
    flex: 3;
    position: sticky;
    top: 70px;
}
.latest-item-right{
    height: 150px;
    position: relative;
}
.latest-item-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
}
.latest-item-category{
    position: absolute;
    bottom: 8px;
    left: -10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1.2px;
    z-index: 10;
}
.latest-item-category::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transform: skewX(-30deg);
    z-index: -1;
}
.latest-item-category.red::after{
    background: var(--red);
}   
.latest-item-category.blue::after{
    background: var(--blue);
}   
.latest-item-category.green::after{
    background: var(--green);
}   
.latest-left-load-btn{
    width: 150px;
    border-radius: 4px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin: 0 auto;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    cursor: pointer;
    box-shadow: inset 0 0 5px 1px var(--gray) ;
}
.latest-left-load-btn:hover{
    color: #fff;
    background: var(--red);
    box-shadow: 0 0 6px 2px var(--red);
}
.latest-banner{
    width: 100%;
    height: 460px;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../../assets//images/latest/right-bg.webp);
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-bottom: 30px;
}
.latest-banner-header{
    margin-bottom: 20px;
}
.latest-banner-text{
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 20px;
}
.latest-banner-link{
    color: #fff;
    width: 140px;
    border-radius: 4px;
    background: var(--red);
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    transition: .3s;
}
.latest-banner-link:hover{
    box-shadow: 0 0 7px 1px var(--red);
}
.latest-right-header-small{
    transform: scale(.8);
    position: relative;
    left: -40px;
}
.latest-right-news{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.latest-right-new{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.latest-right-item-left{
    height: 80px;
    overflow: hidden;
    border-radius: 4px;
    width: 40%;
}
.latest-right-item-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.latest-right-item-right{
    width: 60%;
}
.latest-right-item-title{
    font-weight: 600;
    transition: .3s;
}
.latest-right-item-title:hover{
    color: var(--red);
    text-decoration: underline;
}
.latest-right-item-bottom{
    display: flex;
    align-items: center;
    color: var(--red);
    margin-top: 10px;
}
.latest-right-item-bottom span{
    font-size: 16px;
    color: var(--gray2);
    margin-top: 2px;
    margin-left: 5px;
}
.latest-covid-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}
.latest-covid-item span{
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.latest-covid-donfirm{
    font-weight: 700;
}
.latest-covid-donfirm.red{
    color: var(--red);
}
.latest-right-bottom-covid{
    margin-top: 30px;
    font-size: 16px;
}
.latest-right-bottom-covid a{
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: var(--red) !important;
}


@media screen and (max-width:768px) {
    .latest-right{
        margin-top: 60px;
    }
}