.little-title{
    font-size: 22px;
    color: var(--fcolor);
    font-weight: 600;
    display: inline-flex;
}
.little-title.true{
    color: #fff;
}
.little-title span{
    color: var(--red);
    font-weight: 600;
    margin: 0 5px;
}