.nav-wrapper{
    width: 100%;
    position: relative;
}
.nav-tog-bg{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}
.nav-top-bg img{
    width: 100%;
    object-fit: contain;
}
header{
    width: 100%;
    height: 60px;
    box-shadow: var(--shadow);
    background: var(--white);
}
header.nav-fixed{
    position: fixed;
    top: 0;
}
.nav-free-top{
    height: 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}
.nav-left{
    display: flex;
    align-items: center;
    height: 100%;
}
.logo{
    display: flex;
    height: 100%;
}
.nav-link-box {
    margin-left: 20px;
    position: relative;
}
.nav-link-box .nav-link{
    font-size: 17px;
    font-weight: 600;
    color: var(--fcolor);
}
.nav-link span{
    text-transform: capitalize;
}
.nav-angle{
    display: inline-flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}
.nav-link-box::after{
    content: "";
    display: flex;
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background: var(--red);
    transition: .3s;
}
.nav-link-box:hover::after{
    width: 100%;
}
.nav-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--fcolor);
}
.nav-dots:hover::after{
    display: none;
}
.nav-right{
    display: flex;
    height: 100%;
    align-items: center;
}
.nav-login-btn{
    background: var(--red);
    color: #fff;
    margin-right: 10px;
    padding: 7px 20px;
    border-radius: 4px;
}
.nav-icon{
    font-size: 26px;
    margin-right: 10px;
    cursor: pointer;
}
.dark-btn{
    position: relative;
    margin-left: 10px;
    border-radius: 10px;
    height: 15px;
    width: 30px;
    background: var(--gray);
}
.dark-btn::after{
    content: "";
    width: 1px;
    height: 20px;
    display: flex;
    position: absolute;
    top: -2px;
    left: -10px;
    background: var(--gray);
}
.dark-toggle{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    background: var(--white);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -4px;
    left: 0px;
    transition: all .5s;
    cursor: pointer;
}
.dark-toggle.down{
    left: 10px;
    background: var(--red);
    color: var(--white);
}