/* google font Oxygen and Encode Sans Condensed */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800&display=swap');

/* settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
:root{
  --white: #fff;
  --pink: #ff0084;
  --red: #ff184e;
  --red2: #ff184ee6;
  --dark: #191c20;
  --yellow: #ffc300;
  --blue: #729dff;
  --blue2: #5772ff;
  --top-site-bg: #0e0f12;
  --fcolor: #282828;
  --gray: #ccc;
  --green: #56ca71;
  --shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark{
  --white: #282828;
  --fcolor: #fff;
  position: sticky;
  top: 0;
}
a{
  text-decoration: none;
  color: var(--fcolor);
}
body{
  font-size: 14px;
  font-weight: 500;
  font-family: 'Encode Sans Condensed', sans-serif;
  background: var(--white);
  color: var(--fcolor);
  transition: all .3s;
} 
